<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028260236016-7t6icret8abbv0bma0urg909lda79eg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028260236016-7t6icret8abbv0bma0urg909lda79eg9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028260236016-c5dv2krv0hmenfli7efe2klr779i7917.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt9Oz9VupzKWYpxlWUQnRSOhzGQHRcimk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028260236016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biggiewears.mobile</string>
	<key>PROJECT_ID</key>
	<string>biggiewears-c082f</string>
	<key>STORAGE_BUCKET</key>
	<string>biggiewears-c082f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028260236016:ios:2c3ba238d3d58362591035</string>
</dict>
</plist>